/* TOP BAR */
.TopButtonBoxCenter {
    -fx-background-color: linear-gradient(#4d4d4d, #292929, #525252);
    -fx-spacing: 0;
    -fx-min-height: 37;
}


.tophboxbutton {
    -fx-background-color: linear-gradient(#4d4d4d, #292929, #525252);
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-font-size: 16;
    -fx-font-weight: BOLD;
    -fx-text-fill: #f5f5f5;

}


.tophboxbutton:selected {
    -fx-background-color: linear-gradient(#5f5f5f, #373737, #5f5f5f);
    -fx-text-fill: #ffffff;
}

.tophboxbutton:hover {
    -fx-background-color: linear-gradient(#525252, #4d4d4d, #525252);
}

.topboxbuttonunlock{
    -fx-background-color: linear-gradient(#5274de, #292929, #5274de);
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-font-size: 16;
    -fx-font-weight: BOLD;
    -fx-text-fill: #f5f5f5;
}

.topboxbuttonunlock:selected{
    -fx-background-color: linear-gradient(#5488f5, #292929, #5488f5);
}

.topboxbuttonunlock:hover{
    -fx-background-color: linear-gradient(#598cff, #292929, #598cff);
}

.tophboxbuttonquit {
    -fx-background-color: linear-gradient(#de0c16, #292929, #de0c16);
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-font-size: 16;
    -fx-font-weight: BOLD;
    -fx-text-fill: #f5f5f5;

}

.tophboxbuttonquit:hover {
    -fx-background-color: linear-gradient(#f40c16, #292929, #f40c16);
}

/* MAINWINDOW CENTER */

.CenterBox {
    -fx-background-color: #cfcfcf;
    -fx-alignment: TOP-CENTER;
}

.innerbox{
    /*-fx-border-color: White;*/
    -fx-alignment: TOP-CENTER;
    -fx-spacing: 2;
    -fx-max-height: 250;
    -fx-max-width: 180;
    -fx-min-width: 180;
    -fx-padding: 0 0 0 -3;
}

.InnerLabels {
    -fx-font-size: 13;
}

.InnerComboBox {
    -fx-min-width: 165;
    -fx-max-width: 165;
}

.innerbutton {
    -fx-min-width: 80;
    -fx-min-height: 30;
    -fx-font-size: 12;

}

.InnerHBox {
    -fx-alignment: CENTER;
    -fx-spacing: 5;
}

.TriggerMenuVHox {
    /*-fx-alignment: TOP-CENTER;*/
    -fx-max-width: 80;
    -fx-spacing: 5;
    -fx-padding: 5 5 0 2;

}

.TriggerTableButton {
    -fx-min-width: 100;
    -fx-min-height: 25;

}

.VolumeSlider {
    -fx-padding: 0 3 0 0;
}

/*TABLE WINDOW*/
.FormattingBox {
    -fx-spacing: 5;
    -fx-alignment: center-left;
}

.TableWindow{
    -fx-background-color: #cfcfcf;
}

.TableStyle .table-column{
    -fx-alignment: CENTER;
    -fx-font-size: 13;
}

.TablePlayButton {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: TRANSPARENT;
}

.TableTypeRowLabels {
    -fx-text-fill: BLACK;
}

.TableTypeRowLabels:selected{
    -fx-background-color: #c2d7ff;
    -fx-table-cell-border-color: transparent;
}

.TableRowEnabled{
    -fx-background-color: #98ffac;
    -fx-table-cell-border-color: transparent;
}

.TableRowEnabled:selected{
    -fx-background-color: #c2d7ff;
    -fx-table-cell-border-color: transparent;
}

.TableRowDisabled:selected .text{
    -fx-text-fill: BLACK;
}

.TableRowDisabled{
    -fx-background-color: #FCA9B1;
    -fx-table-cell-border-color: transparent;
}

.TableRowDisabled:selected{
    -fx-background-color: #c2d7ff;
    -fx-table-cell-border-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: BLACK;
}


/* ADD TRIGGER WINDOW */
/* Top row */

.AddTriggerTopVBox {
    -fx-spacing: 4;
    -fx-padding: 5 0 5 5;
}

.AddTriggerTopButtonBox {
    -fx-alignment: CENTER;
    -fx-spacing: 5;
    -fx-padding: 5 10 5 10;
}

.AddTriggerTopCategoryCBox {
    -fx-min-width: 170;
    -fx-max-width: 170;

}

.AddTriggerTopButtons {
    -fx-font-size: 14;
    -fx-min-width: 100;
    -fx-min-height: 30;
    -fx-max-width: 100;
    -fx-max-height: 30;
}

/* Command row */

.AddTriggerCommandHBox {
    -fx-padding: 0 0 5 5;
    -fx-spacing: 5;
}

.AddTriggerCommandMarkerSpacer {
    -fx-spacing: 5;
}

.AddTriggerButtonTransform {
    -fx-translate-y: 17
}

.AddTriggerCommandVBoxSpacer{
    -fx-spacing: 3;
}

.AddTriggerMarkerCBox {
    -fx-min-width: 115;
}

.AddTriggerMarkerCharNameTFIeld {
    -fx-min-width: 158;
}

.AddTriggerCommandTField {
    -fx-min-width: 300;
}

.AddTriggerMarkerAnyoneCBox {
    -fx-translate-x: 44;
}

.AddTriggerOtherSettingBox {
    -fx-padding: 0 0 0 5;
    -fx-spacing: 3;
}

.AddTriggerSpacer {
    -fx-min-width: 500;
}

.AddTriggerSoundFileTField {
    -fx-min-width: 250;
}

.TableVolumeControl {
    -fx-alignment: CENTER;
}

.WarningTextGreen {
    -fx-text-fill: GREEN;
}

.WarningTextYellow {
    -fx-text-fill: #ff870a;
}

.WarningTextRed {
    -fx-text-fill: RED;
}

.ButtonWide {
    -fx-min-width: 165;
    -fx-min-height: 30;
    -fx-font-size: 12;
}

.JapaneseFont{
    -fx-font-family: 'Meiryo UI';
}

.WesternFont{
    -fx-font-family: Verdana;
    -fx-font-size: 13;
}

.TopLabel {
    -fx-font-size: 18;
    -fx-text-fill: WHITE;
}

.LogStatusLabelGreen {
    -fx-text-fill: GREEN;
}

.LogStatusLabelYellow {
    -fx-text-fill: YELLOW;
}